<!-- <div>
    <button [class.disabled] = "buttonDisabled" class="btn btn-danger" (click)="textColor = 'text-danger'">color rojo</button>
    <button [class.disabled] = "buttonDisabled" class="btn btn-success mx-2" (click)="textColor = 'text-success'">color verde</button>
    <button [class.disabled] = "buttonDisabled" class="btn btn-primary" (click)="textColor = 'text-primary'">color azul</button>

    <button [disabled]="buttonDisabled" class="btn btn-danger" (click)="textColor = 'text-danger'">color rojo</button>
    <button [disabled]="buttonDisabled" class="btn btn-success mx-2" (click)="textColor = 'text-success'">color verde</button>
    <button [disabled]="buttonDisabled" class="btn btn-primary" (click)="textColor = 'text-primary'">color azul</button>
</div>
<br>
<p [class]="textColor">texto que va a cambiar de color</p>

<button class="btn btn-secundary" (click)="buttonDisabled = !buttonDisabled">Activar/Desactivar</button> -->

<div>
    <button class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/9420357/pexels-photo-9420357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">imagen 1</button>
    <button class="btn btn-danger" (click)="src = 'https://images.pexels.com/photos/18057909/pexels-photo-18057909/free-photo-of-aves-verde-rama-fotografia-de-animales.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">imagen 2</button>
</div>


<img [src]="src" alt="">



