<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-2">
                <label for="form-label">
                    Nombre
                </label>

                <input type="text" [formControl]="name" class="form-control" placeholder="Ingrese su nombre">            
            </div>

            <div class="mb-2">
                <label for="form-label">
                    Email
                </label>

                <input type="text" [formControl]="email" class="form-control" placeholder="Ingrese su email">            
            </div>

            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

{{name.value}}