
<div class="container">
    <h2>app component</h2>

    <!-- <app-contador></app-contador> -->
    <!-- <app-botones></app-botones> -->
    <!-- <app-formulario></app-formulario> -->
    <!-- <app-bucles></app-bucles> -->
    <!-- <app-switch></app-switch> -->
    <!-- <app-formulario2></app-formulario2> -->
    <!-- <app-formulario-reactivo></app-formulario-reactivo> -->

    <!-- <input type="text" class="form-control" [(ngModel)] ="texto">
    <app-children [(texto)]="texto"></app-children> -->

    <h1>Servicios</h1>

    <app-add-messages></app-add-messages>

    <app-list-messages></app-list-messages>
</div>