<div class="card">
    <div class="card-body">

        <form (ngSubmit)="procesar()">
            <label class="form-label">
                Nombre: 
            </label>
    
            <input type="text" name="nombre" class="form-control" placeholder="ingrese un nombre" [(ngModel)]="persona.nombre">
    
            <div>
                <label class="form-label">
                    Edad: 
                </label>
        
                <input type="text" name="edad" class="form-control" placeholder="ingrese la edad" [(ngModel)]="persona.edad">
            </div>

            <button class="btn btn-primary">
                Enviar
            </button>
        </form>

        
    </div>

    
</div>


{{persona | json}}